{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


 <nav>
    <div class="nav-content">
      <div class="logo">
        <a href="#">ContractLab.</a>
      </div>
      <ul class="nav-links">
            <li><a href="http://127.0.0.1:8000/">Acceuil</a></li>
            <li><a href="http://127.0.0.1:8000/contrat">Contrats</a></li>
            <li><a href="http://127.0.0.1:8000/about">About</a></li>
            <li><a href="http://127.0.0.1:8000/contact">Contact</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
            <div class="dropdown">
            <button class="fas fa-user dropdown-toggle" id="dropdownMenuButton"><span class="user-name">  {{ app.user.nom }}</span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="http://127.0.0.1:8000/profile">Profile</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/logout">Logout</a>
            </div>
            </div>
            </li>
            {% endif %}
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="http://127.0.0.1:8000/login">Login</a></li>
           {% endif %}
      </ul>
    </div>
  </nav>
<br>

<br><br>
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Total Contrats</div>
                <div class="card-body">
                    <h5 class="card-title">{{ totalContrats }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Contrats Disponibles</div>
                <div class="card-body">
                    <h5 class="card-title">{{ availableContrats }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Contrats Indisponibles</div>
                <div class="card-body">
                    <h5 class="card-title">{{ unavailableContrats }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<div class="container">
  <h2>MES CONTRATS <small></small></h2>
  <div class="form-outline" data-mdb-input-init>
  <input type="search" id="searchInput" class="form-control" placeholder="Recherche" aria-label="Search" />
</div>
<br>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Titre</div>
      {# <div class="col col-2">Entreprise</div> #}
      <div class="col col-2">Date début</div>
      <div class="col col-3">Date fin</div>
      <div class="col col-4">Statut</div>
      <div class="col col-5">Actions</div>
    </li>
  </ul> 
</div>
  {% for contrat in contrats %}
<div class="container">
    <ul class="responsive-table" id="contractsList">
    <li class="table-row">
      <div class="col col-1" data-label="Contrat Name">{{ contrat.Nom }}</div>
      {# <div class="col col-2" data-label="entreprise">{{ contrat.entreprise }}</div> #}
      <div class="col col-2" data-label="Date debut">{{ contrat.datedebut ? contrat.datedebut|date('Y-m-d') : '' }}</div>
      <div class="col col-3" data-label="Date fin">{{ contrat.datefin ? contrat.datefin|date('Y-m-d') : '' }}</div>
      <div class="col col-4 {% if contrat.getStatus() == 'Disponible' %}text-success{% elseif contrat.getStatus() == 'Indisponible' %}text-danger{% endif %}" data-label="Statut" >{{ contrat.getStatus() }}</div>
      <div class="col col-5" data-label="Actions" role="group">
            <a class="btn btn-outline-secondary " href="{{ path('app_contrat_show', {'id': contrat.id}) }}">Afficher</a>
            <a class="btn btn-outline-secondary" href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">Modifier</a>
            <a class="btn btn-outline-secondary" href="{{ path('app_contrat_renew', {'id': contrat.id}) }}">Renouvellement</a>
            {% include 'contrat/_delete_form.html.twig' with {'contrats': [contrat]} %}

      </div>
    </li>
  </ul>
</div>
 {% endfor %}
  <div class="secondary">
  <a type="button" class="btn btn-secondary" href="{{ path('app_contrat_new') }}">Uploader</a>
  <a type="button" class="btn btn-secondary" href="{{ path('app_creation') }}">Créer un nouveau contrat</a></div>


<br><br><br><br><br><br><br><br><br><br>
  <footer class="footer">
      <div class="footer__addr">
        <img class="img-footer"src="code/progress.png" >
        <address>5534 Tunis , Tunisia<br> <a class="footer__btn" href="ContractLab@gmail.com">Email Us</a></address>
      </div>
      <ul class="footer__nav">
        <li class="nav__item">
          <h1 class="nav__title">Media</h1>
          <ul class="nav__ul">
            <li><a href="#">Online</a></li>
            <li><a href="#">Print</a></li>
            <li><a href="#">Alternative Ads</a></li>
         </ul>
        </li>
        <li class="nav__item">
          <h1 class="nav__title">Legal</h1>
          <ul class="nav__ul">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </li>
        <li class="nav__item">
          <h1 class="nav__title">Legal</h1>
          <ul class="nav__ul">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </li>
      </ul>
      <div class="legal"><p>&copy; 2024. All rights reserved.</p></div>
    </footer>


<style>

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  


.login{
 color: #f1356d;
}
 .col-5{
  gap: 10px;
} 

.secondary{
  margin-left: 15%;
  margin-top: 30px;
}

body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    margin-bottom: 25px;
    text-align: center;

  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 85%;
    
  }
  .col-2 {
    flex-basis: 15%;
  }
  .col-3 {
    flex-basis: 15%;
  }
  .col-4 {
    flex-basis: 15%;
  }
  .col-5 {
    flex-basis: 45%;
      margin: 2px 5px;

  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 5px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}


.img-footer{ width:150px; }

</style>

<script>
    function deleteContrat(id) {
        if (confirm('Are you sure you want to delete this item?')) {
            document.getElementById('delete-form-' + id).submit();
        }
    }
s
// Function to filter contracts based on search input
function filterContracts() {
    var input, filter, li, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    li = document.querySelectorAll('.table-row');

    // Loop through all list items, and hide those that don't match the search query
    li.forEach(function(item) {
        txtValue = item.textContent || item.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            item.style.display = "";
        } else {
            item.style.display = "none";
        }
    });
}

// Attach the filterContracts function to the input's onchange event
document.getElementById('searchInput').addEventListener('keyup', filterContracts);



</script>
    

{% endblock %}