{# templates/contrat/renew.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Renouvellement{% endblock %}

{% block body %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">
            <img src="/code/contratlab-logo-png.png" style="height: 30px; width: auto;" alt="ContratLab Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/">Accueil</a>
                </li>
                {% if is_granted('ROLE_RESPONSABLE') %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/dashboard_responsable">Dashboard Responsable</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/dashboard">Dashboard Admin</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_GESTIONNAIRE') %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/dashboard_gestionnaire">Dashboard Gestionnaire</a>
                </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{ app.user.nom }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="http://127.0.0.1:8000/profile">Profil</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/logout">Déconnexion</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/login">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav><br>
<br>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    {% if is_granted('ROLE_ADMIN') %}
        <a class="navbar-brand" href="index.html">Dashboard Administrateur</a>
    {% endif %} 
    {% if is_granted('ROLE_GESTIONNAIRE') %}
        <a class="navbar-brand" href="index.html">Dashboard Gestionnaire</a>
    {% endif %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="http://127.0.0.1:8000/dashboard">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                {% endif %} 
                {% if is_granted('ROLE_GESTIONNAIRE') %}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="http://127.0.0.1:8000/dashboard_gestionnaire">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                
                 <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="http://127.0.0.1:8000/produit">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Produits</span>
                    </a>
                </li>
                {% endif %} 
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="http://127.0.0.1:8000/dashboard/utilisateurs">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Utilisateurs</span>
                    </a>
                </li>
                {% endif %} 
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="http://127.0.0.1:8000/contrat">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Contrats</span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
       
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="http://127.0.0.1:8000/client">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Clients</span>
                    </a>
                </li> 
                 {% endif %} 
            </ul>
        </div>
    </nav>
    <br>
    <div class="content-wrapper">
        <div class="container-fluid">
 <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Contrats</li>
                 <li class="breadcrumb-item active">Modifier</li>
            </ol>
<br><br>



    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="my-4">Renouvellement du Contrat</h1>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group">
                    {{ form_label(form.date_debut, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.date_debut, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.date_fin, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.date_fin, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Renouveler contrat</button>
                    <a href="{{ path('app_contrat_index') }}" class="btn btn-secondary">Back to list</a>
        
                </div>
            {{ form_end(form) }}
        </div>


    </div>










<br><br><br><br><br><br><br><br><br><br>
  <footer class="footer">
      <div class="footer__addr">
        <img class="img-footer"src="code/progress.png" >
        <h2>Contact</h2>
        <address>5534 Tunis , Tunisia<br> <a class="footer__btn" href="#section2">Email Us</a></address>
      </div>
      <ul class="footer__nav">
        <li class="nav__item">
           <h2 class="nav__title">Réseaux sociaux</h2>
          <ul class="nav__ul">
            <li><a href="https://www.progress.com.tn/">Site web</a></li>
            <li><a href="https://www.facebook.com/ProgressengineeringTunisia">Facebook</a></li>
            <li><a href="https://tn.linkedin.com/company/progress-engineering">Linkedin</a></li>
         </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Adresse</h2>
          <ul class="nav__ul">
            <li><a>Parc Technologique Elgazala</a></li>
            <li><a>Batiment i2 RDC</a></li>
            <li><a>Elgazala، Ariana 2088، TN</a></li>
          </ul>
        </li>
      </ul>
      <div class="legal"><p>&copy; 2024. All rights reserved.</p></div>
    </footer>


<style>

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }

.login{
 color: #f1356d;
}
 .col-5{
  gap: 10px;
} 

.secondary{
  margin-left: 15%;
  margin-top: 30px;
}

body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    margin-bottom: 25px;
    text-align: center;

  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 85%;
    
  }
  .col-2 {
    flex-basis: 15%;
  }
  .col-3 {
    flex-basis: 15%;
  }
  .col-4 {
    flex-basis: 15%;
  }
  .col-5 {
    flex-basis: 45%;
      margin: 2px 5px;

  }
  .navbar-brand img {
            height: 30%;
            width: 30%;
        }

        .navbar-nav .nav-link {
            white-space: nowrap;
            font-size: 15px; /* Increase font size */
            font-weight: bold; /* Make font bold */
        }
        .navbar-nav .nav-link:hover {
            color: #blue; /* Blue color on hover */
        }
        .navbar-nav .dropdown-menu {
            background-color: #f8f9fa;
        }

        .navbar-nav .dropdown-menu .dropdown-item:hover {
            background-color: #blue;
        }
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 5px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}



/* SIDE NAV */

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f8f9fa;
  }
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    height: 160vh; /* Set the height to 100% of the viewport height */
    background: #343a40;
}


/* content wrapper */
@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}
.content-wrapper {
  overflow-x: hidden;
  background: white;
}


.img-footer{ width:150px; }

</style>


    

{% endblock %}

